a:link {color: #bb4886;}
a:visited {color: #bb4886;}
a:hover {color: #7f5b80;}
a:active {color: #0b7788;}

a {
	color: #99cccc;
}
#breathing_room {

}

#menu {
/*	background-color: green;*/
	padding-top: 30px;
	/*padding-bottom: 20px;*/
}

@media(max-width: 480px) {
  h1 {
    font-size: 12pt;
  }
}

#email {
	font-size: 15px;
	color: #99cccc;	
}


#left_col {
	/*padding-top: 30px;*/

}

#middle_col {
/*	padding-left: 40px;*/
	/*background-color: red;*/
	opacity: 0.75;

}

#right_col{
	/*border-left: #587889 2px solid ;
	border-top: #587889 2px solid ;
	border-bottom: #587889 2px solid ;
	padding-left: 20px;
	padding-top: 20px;
	/*background-color: black;*/*/
}

#logo{
	width: 275px;
	height: auto;
}

.mailTo {
	font-weight: bold;
/*	padding-top: 250px;*/
	margin-top: 20px;
	margin-left: 50px;
	position: absolute;

}

.body_text {
	text-align: right;
	padding-right: 50px;
	/*background-color: red;*/
}

/*





body {
	text-align: center;
}

#blankSpace {
	width: 100%;
	margin-top: 100px;
}





.greigeBox {
	background-color: #587889;
	display: inline-block;
	margin: 0 auto;
	width: 70%;
	border-radius: 25px;
	padding-bottom: 70px;
	margin-right: 70px;
	float: right;

}

.bodyTextRight {
	float: right;
	text-align: right;
	width: 36%;
	padding-top: 40px;
	color: white;
	font-size: 20px;
	position: relative;
	margin-right: 20px;
	margin-top: 30px;
	font-family: Palatino;
}

.bodyTextLeft {
	float: left;
	text-align: left;
	margin-left: 60px;
	padding-top: 0px;
	color: white;
	padding-bottom: 50px;
	font-size: 16px;
}



.visitThese {
	position: relative;
	float: right;
	font-size: 3em;
	margin-right: 50px;
	
}

.visitTheseInd {
	/*border: 2px dotted white;
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}



.well {
	background-color: white;
	border: white;
}


*/